body
	background-color #EBF5FF
#login-container
	position absolute
	top 33%
	paddign 4em
	.panel-default
		background-color #2E8AE6
		paddign 4em
		box-shadow 3px 2px 7px black
.alerta
	background-color #85C2FF
	color #4C4C80
	font-weight bold
	paddign 10px !important
	text-align center
.btn-login
	background-color #143D66
	color white
	&:hover
		color #EBF5FF
.login-icon
	background-color #99CCFF
	border 1px solid #3399FF 
	color white
.login-input
	background-color #C2E0FF
	border 1px solid #3399FF 
.titulo
	font-size 2em
	font-weight bold
	color #143D66
	width 90%
	margin-left 5%
	margin-top 10px
	paddign 1em
p.titulo
	border-bottom 2px solid #143D66
	